/* Syntax of css

selected tag {
  property: value;
} */

/* 1. color */
h1{
  color: green;
}

/* 2. RGB */
li{
  color: rgb(230, 26, 11);
}
/* 3. HEX */
p{
  color: #1433e3
}
/* 4. RGB ALPHA */
h4{
  color: rgba(230, 26, 11,0.5)
  /* rgba is used for transparent color, value is between 0 to 1 */
}
